# Builds
/.releases

# Minecraft
/minecraft

# Download path
/.tmp

## ProbeJS generated vscode files
/.vscode/fluid-attributes.json
/.vscode/item-attributes.json
/.vscode/item-tag-attributes.json
/.vscode/lang-keys.json
/.vscode/probe.class-definitions.json
/.vscode/probe.code-snippets
/.vscode/probe.doc-schema.json
/.vscode/probe.lang-schema.json
/.vscode/probe.lang_key-definitions.json
/.vscode/probe.registry-definitions.json

# Minecraft Source Files
## Temporary Minecraft textures
/src/minecraft/thingpacks/sf5_things/assets/sf5_things/textures/**/minecraft_*
## Sample data
/src/minecraft/thingpacks/sandwood
## Kubejs Generated
/src/minecraft/kubejs/jsconfig.json
/src/minecraft/kubejs/probe
## Configs
/src/minecraft/config/brandon3055/contributors.json
/src/minecraft/config/brandon3055/contributors.json.etag
/src/minecraft/config/contentcreatorintegration/*
!/src/minecraft/config/contentcreatorintegration/libs
!/src/minecraft/config/contentcreatorintegration/Streamer Profile
/src/minecraft/config/contentcreatorintegration/Streamer Profile/notes.json
/src/minecraft/config/contentcreatorintegration/Streamer Profile/stats.json
/src/minecraft/config/roughlyenoughitems/favorites.json5
/src/minecraft/config/spark/activity.json
/src/minecraft/config/ccl.cfg
/src/minecraft/config/embeddium-fingerprint.json
/src/minecraft/config/mkm
## Journeymap
/src/minecraft/journeymap/data
/src/minecraft/journeymap/icon
/src/minecraft/journeymap/server
/src/minecraft/journeymap/*.log

# OS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port
src/minecraft/config/jei/world/local/
src/minecraft/config/oreexcavation/shapes.json
src/minecraft/config/spark/activity.json
src/minecraft/config/brandon3055/contributors.json
src/minecraft/config/brandon3055/contributors.json.etag
src/minecraft/config/ichunutil/themes/aztec.json
src/minecraft/config/ichunutil/themes/blue&black.json
src/minecraft/config/ichunutil/themes/blue&orange.json
src/minecraft/config/ichunutil/themes/default.json
src/minecraft/config/ichunutil/themes/grassgreen.json
src/minecraft/config/ichunutil/themes/green&black.json
src/minecraft/config/ichunutil/themes/lazygray.json
src/minecraft/config/ichunutil/themes/monogeneric.json
src/minecraft/config/ichunutil/themes/nightblack.json
src/minecraft/config/ichunutil/themes/red&black.json
src/minecraft/config/ichunutil/themes/skyblue.json
src/minecraft/config/ichunutil/themes/whitelight.json
src/minecraft/config/contentcreatorintegration/Streamer Profile/stats.json
src/minecraft/config/brandon3055/contributors.json
src/minecraft/config/contentcreatorintegration/Streamer Profile/notes.json
src/minecraft/config/contentcreatorintegration/Streamer Profile/stats.json
src/minecraft/config/controllable/controller.properties
src/minecraft/config/mkm/config.json
src/minecraft/config/embeddium-fingerprint.json
src/minecraft/config/modpacktools-client.toml
